# prevent access to a specific file .git-ftp.log 
<files .git-ftp.log>
order allow,deny
deny from all
</files>


# Redirect to public folder
RewriteEngine On
RewriteBase /

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]